<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>Welcome!</h1>
    <p class="lead">Join the game before you get there!</p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
      <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>CREATE A GAME</h3>
      <p>Create a game for now or in the future</p>
    </div>
    <div class="col-md-4">
      <h3>SEARCH FOR A GAME</h3>
      <p>Use our search function and find a game going on near you</p>
    </div>
    <div class="col-md-4">
      <h3>JOIN A GAME</h3>
      <p>Join any game before you even get to where it's happening</p>
    </div>
  </div>
</div>
